@model List<Product>
@{
    int counter = 0;
}
<div class="container-fluid">
    <div class="row align-items-center justify-content-between">
        <h1>Products:</h1>
        <a asp-action="create" asp-controller="product" class="btn btn-primary">Create</a>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Title </th>
                <th scope="col">Description</th>
                <th scope="col">Category Name</th>
                <th scope="col">Image</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
           @*  @foreach (var item in Model)
            {
                counter++;
                <tr>
                    <th scope="row">@counter</th>
                    <td>@item.Title</td>
                    <td>@item.Description</td>
                    <td>@item.Category.Title</td>
                    <td>
                        <img style="width:150px" src="~/uploads/products/@item.Images.Where(x=>x.IsPoster == true).FirstOrDefault()?.Image" />
                    </td>
                    <td>
                        <a asp-action="update" asp-controller="product" asp-route-id="@item.Id" class="btn btn-warning">Update</a>
                        <a asp-action="delete" asp-controller="product" asp-route-id="@item.Id" class="btn btn-danger delete-btn">Delete</a>
                    </td>
                </tr>
            }
 *@
        </tbody>
    </table>
</div>